body {
    width: 100%;
    margin: 0 auto;
}

.bg-dark {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    width: 100rem;
    padding: initial;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    /* color: rgba(0,0,0,.5); */
}

.format {
    /* width: 1000px; */
    display: flex;
    justify-content: center;
}

#homepage {
    background-color: #343a40;
}

/* Help page */




/*Footer*/
#footer {
    color: whitesmoke;
    background-color: #343a40;
    display: flex;
    justify-content: center;
}

#footer .row li {
    list-style-type: none;
}

.footer-container {
    width: 50rem;
}