:root{
    --mauchu: rgb(0, 0, 0, 0.7);
    --xamnhat:rgba(241, 240, 240, 0.925);
    --xanhmint: rgb(0, 177, 79);
    --xanhnhat:#2ecc71;
    --cam: rgb(249, 177, 68);
}


body {
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
}

.bg-dark {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    width: 90rem;
    padding: initial;
    background-color: black !important;
}

.bg-dark img {
    width: 50px;
    height: 50px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    padding: 1rem;
    /* color: rgba(0,0,0,.5); */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(10, 213, 82);
}

.navbar-light .navbar-nav .nav-link1 {
    color: white;
    padding: 1rem;
    margin: 0;
    /* color: rgba(0,0,0,.5); */
}

.format {
    /* opacity: 0.7; */
    width: 100vw;
    /* position: fixed; */
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

#homepage {
    background-color: black;
    z-index: 100;
    top: 0;
    opacity: 0.7;
    position: fixed;
}

/*---------------- Help page ---------------*/

.help-header{
    height: 20em;
    padding: 6em 1em;
    display: flexbox;
    justify-content: center;
    text-align: center;
    width: 100%;
}

h1{
    margin: 0;
}

input[type=text]{
    width: 63%;
    height: 3em;
    border: 0.1em solid #aaa;
    border-radius: 5em;
    outline: none;
    transition: .3s;
} 

input[type=text]:focus{
    border-color: #343a40;
} 

.inputWithIcon input[type=text]{
    padding-left: 3em;
}

.inputWithIcon {
    position: relative;
    width: 100%;
    padding: 0.5em;
}

.inputWithIcon i{
    position: absolute;
    margin: 0.7em 1em;
}

/*---------- second part of body--------- */


.help-page{
    display: flex;
    justify-content: center;
    background-color: var(--xanhmint);
}

.help-body{
    padding: 0.5em 1em;
    margin: 2em 2em 2em;
    font-size: 1.3em;
}
.help-topics h3{
    padding: 0.5em;
    border-bottom: .09em solid rgb(185, 183, 183);
    margin-bottom: 2em;
    font-size: 2em;
}

.icon{
    display: inline ;
}

.part2 a{
    display: inline;
    color: #343a40;
    font-size:  1.5em;
    line-height: 1.2;
    font-weight: 500;
}

.part2 a:hover{
    color: var(--cam);
    text-decoration: none;
}

.col-a{
    padding: 0.5em;
    border-bottom: .09em solid rgb(185, 183, 183);
    margin-bottom: 1em;
    width: 100%;
    height: 7em;
}

.part1{
    width: 10%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    /* text-align: center; */
}

.part2{
    width: 82%;
    margin-inline-start: 5em;
}

.part2 p{
    font-size: 1em;
}

.suggest-box h5{
    font-size: 1.5em;
}

.box-1{
    background-color:var(--xamnhat);
    padding: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.box-1 a{
    color: #343a40;
    
}

.box-1 a:hover{
    text-decoration: none;
    color: var(--cam);
}

.box-2{
    background-color: var(--xamnhat);
    padding: 2em;
}

.box-2 a{
    text-decoration: none;
    color: #fff;
    background-color: var(--cam);
    padding: .7em;
    margin-top: 2%;
    font-weight: bold;
    border-radius: 1.5em;
}

.box-2 a:hover{
    text-decoration: none;
    color: var(--cam);
    background-color: #fff;
    border-style: solid;
}



/* -------third part off body--------- */
.help-footer{
    background-color: var(--xamnhat);
    padding: 3.5em 1em;
    display: flexbox;
    justify-content: center;
    text-align: center;
}

.help-footer h2{
    font-size: 2.5em;
}

.help-footer p{
    font-size: 1.5em;
    padding: .5em;
}

.help-footer a{
    text-decoration: none;
    color: #fff;
    background-color: var(--xanhmint);
    padding: .7em;
    margin-top: 2%;
    font-weight: bold;
    border-radius: 1.5em;
    font-size: 1.5em;
}

.help-footer a:hover{
    text-decoration: none;
    color: var(--xanhmint);
    background-color: #fff;
    border-style: solid ;
}


/*--------------------Footer----------------------------*/

#footer {
    /* height: 100px; */
    color: whitesmoke;
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#footer .row li {
    list-style-type: none;
}

.footer-container {
    width: 50rem;
}

#footer .footer-container .col-lg-2 i {
    margin-right: 15px;
    font-size: 30px;
}

#footer .footer-container .col-lg-2 a {
    color: white;
}

#footer .footer-container .col-lg-2 a:hover {
    text-decoration: none;
    color: rgb(10, 213, 82)
}

#footer .footer-container .col-lg-4 {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
}

#footer .footer-container .col-lg-4 i:hover {
    font-size: 40px;
    transition: all 0.8s;
}

#footer .footer-container .col-lg-2 .footer-logo img {
    width: 50px;
    height: 50px;
}

#footer .footer-container .col-lg-2 .footer-logo {
    margin-right: 50px;
    position: absolute;
    top: -20px;
    right: 0px;
}

#footer .footer-container .col-lg-4 .footer-icon {
    /* position: absolute; */
    top: -12px;
    left: 0px;
}

#footer .footer-container .col-lg-4 .footer-icon i {
    margin-right: 10px;
}