:root{
    --mauchu: rgb(0, 0, 0, 0.7);
    --xamnhat:rgba(241, 240, 240, 0.925);
    --xanhmint: rgb(0, 177, 79);
    --cam: rgb(249, 177, 68);
}

nav{
    position: fixed;
    z-index: 3;
    opacity: 0.9;
}

body {
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.bg-dark {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    width: 90rem;
    padding: initial;
    background-color: black !important;
}

.bg-dark img {
    width: 50px;
    height: 50px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 1rem;
    /* color: rgba(0,0,0,.5); */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(10, 213, 82);
}

.navbar-light .navbar-nav .nav-link1 {
    color: white;
    padding: 1rem;
    margin: 0;
    /* color: rgba(0,0,0,.5); */
}

.format {
    opacity: 0.7;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: -65px;
    display: flex;
    justify-content: center;
    background-color: black;
}

#homepage {
    background-color: black;
    z-index: 100;
    top: 0;
}


/* ---------------Nháp----------------------------- */

body, html, div.main-pic, div.bgimg-2, div.bgimg-3{
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }

  
  .main-pic, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    z-index: -100;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .main-pic {
    background-image: url("../img/background.jpg");
    display: flex;
    justify-content: center;
  }
  
  .bgimg-2 {
    background-image: url("../img/adam.jpg");
    display: flex;
    justify-content: center;
    /* min-height: 40em; */
  }

  /* .overlay-back{
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
  } */
  
  .bgimg-3 {
    background-image: url("../img/taylor.jpg");
    display: flex;
    justify-content: center;
    /* min-height: 40em; */
  }

  .content{
    margin: 1.5em;
  }

  .caption h1{
      font-size: 5em;
      color: #000;
      position: relative;
  }
  
  .caption{
    /* position: absolute; */
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  .caption p.border-0 {
    color: #000;
    font-size: 3em;
    letter-spacing: 10px;
  }
  

.border2{
  display: none;
  z-index: -99;
  background-color:transparent;
  font-size: 6em;
  color: rgb(0, 0, 0, 0.7); 
  padding: .5em; 
  border-style: none;
  position: fixed;
  top: 40%;
  left: 30%;
  letter-spacing: 10px;
  opacity: 0.5;
}


/* .caption1 {
    
    background-color: transparent;
    opacity: 0.5;
    height: fit-content;
    height: -moz-fit-content;
    color: white;
    font-size: 2em;
    mix-blend-mode: difference;
    z-index: 99;
  } */
  
  .content h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 2.5em "Lato", sans-serif;
    color: var(--mauchu);
    text-align: center;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  /* @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  } */


  .content-1{
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
  }

  .content-1 a{
    background-color: var(--xanhmint);
    color: #fff;
    padding: .8em;
    border-radius: 1em;
    margin-top: 1em;
  }

  .content-1 a:hover{
    color: var(--xanhmint);
    text-decoration: none;
    background-color: #fff;
    border-style: solid;
    border-color:  var(--xanhmint);
    padding: .8em;
    margin-top: 1em;
    border-style: solid;
  }

  .content-1 p{
    font-size: 1.2em;
  }

  /* ---app------- */

  .home-body-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.content-1a{
  margin: 0 auto;
  padding: 1em 1em;
  box-sizing: border-box;
  color: #fff;
  display: flexbox;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 13em; 
}

.content-1a p{
  font-size: 1.5em;
}
.content-1a a{
  background-color: #fff;
  color: var(--xanhmint);
  border-radius: 1.5em;
  padding: 1em;
} 

.content-1a a:hover{
  background-color: var(--xanhmint);
  color: #fff;
  border-radius: 1.5em;
  border-style: solid;
  border-color:  #fff;
  padding: 1em;
  text-decoration: none;
} 

.content-1a h3{
  font-size: 3em;
  
}

.home-body-1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: .5em;
}

.content-2b{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0.5em;
  color: var(--mauchu);
}

.icon{
  margin: 3%;
  width: 25%;
  text-align: center;
  border-style: solid;
  padding: 1em;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.icon p{
  margin: 0.55em;
  font-size: 1.2em;
}

.content-3a{
    margin: 0 auto;
    height: 100%;

}

.home-body-2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 3em 1.5em 2em;
}

.content-3a{
    width: 50%;
}

.content-3a p{
    font-size: 1.5em;
    color: var(--mauchu);
}

.content-3a h3{
    font-size: 3em;
    color: var(--mauchu);
}

.content-3b{
    width: 45%;
    display: flex;
    justify-content: center;
    text-align: center;
}


/*------------------Footer-------------------------*/

#footer {
    /* height: 100px; */
    color: whitesmoke;
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#footer .row li {
    list-style-type: none;
}

.footer-container {
    width: 50rem;
}

#footer .footer-container .col-lg-2 i {
    margin-right: 15px;
    font-size: 30px;
}

#footer .footer-container .col-lg-2 a {
    color: white;
}

#footer .footer-container .col-lg-2 a:hover {
    text-decoration: none;
    color: rgb(10, 213, 82)
}

#footer .footer-container .col-lg-4 {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
}

#footer .footer-container .col-lg-4 i:hover {
    font-size: 40px;
    transition: all 0.8s;
}

#footer .footer-container .col-lg-2 .footer-logo img {
    width: 50px;
    height: 50px;
}

#footer .footer-container .col-lg-2 .footer-logo {
    margin-right: 50px;
    position: absolute;
    top: -20px;
    right: 0px;
}

#footer .footer-container .col-lg-4 .footer-icon {
    /* position: absolute; */
    top: -12px;
    left: 0px;
}

#footer .footer-container .col-lg-4 .footer-icon i {
    margin-right: 10px;
}