body {
    font-weight: 300;
    margin: 0;
    width: 100%;
    font-weight: 1em;
}


/*---------------- navbar ----------------*/

.bg-dark {
    display: flex;
    font-size: 1em;
    font-weight: 700;
    width: 100rem;
    padding: initial;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-brand {
    color: white;
}

nav{
    position: fixed;
    z-index: 3;
    opacity: 0.9;
}

.navbar-light .navbar-nav .nav-link {
    color: white ;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:#2ecc71 !important;
}

.navbar-light .navbar-nav .nav-none {
    color: white ;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
}

.format {
    background-color: #343a40;
    width: 100vw;
    top:-65px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
}

.btn-menu{
    color: #fff;
}

/*--------------- H    O   M   E       b   o   d   y --------------*/


.table{
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    display: flexbox;
    justify-content: center;
    top: 3.5em;
    }


.home-header img{
    background-size: fixed;
    position: absolute;
    z-index: -100;
    opacity: 0.5;
    margin: 0 auto;
    width: 100%;
    top: 0;
}

h1{
    color: #343a40;
    font-size: 1em;
    letter-spacing: .18em;
    line-height: 1em;
    padding: .5em;
    margin: 0;
}

.table p{
    color: #343a40;
    font-size: .8em;
    letter-spacing: .18em;
    line-height: 1em;
    padding: 0.5em;
    margin: 0;
}

.scroll-icon{
    color: #343a40;
    font-size: 1em;
    padding: 1em;

}

.home-body-1{
    background-color: #fff;
}

.content-1{
    margin: 0 auto;
    width: 100rem;
}

.home-body-2{
    background-color: #A5FAC5;
}

.content-2{
    margin: 0 auto;
    width: 100rem;
}




/*------------------Footer-------------------------*/

#footer {
    color: whitesmoke;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#footer .row li {
    list-style-type: none;
}

.footer-container {
    width: 50rem;
}

#footer .footer-container .col-lg-6 i {
    margin-right: 15px;
    font-size: 30px;
}

#footer .footer-container .col-lg-6 i:hover {
    font-size: 35px;
}