:root{
    --mauchu: rgb(0, 0, 0, 0.7);
    --xamnhat:rgba(241, 240, 240, 0.925);
    --xanhmint: rgb(0, 177, 79);
    --cam: rgb(249, 177, 68);
}

nav{
    position: fixed;
    z-index: 3;
    opacity: 0.9;
}

body {
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
}

.bg-dark {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    width: 90rem;
    padding: initial;
    background-color: black !important;
}

.bg-dark img {
    width: 50px;
    height: 50px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 1rem;
    /* color: rgba(0,0,0,.5); */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(10, 213, 82);
}

.navbar-light .navbar-nav .nav-link1 {
    color: white;
    padding: 1rem;
    margin: 0;
    /* color: rgba(0,0,0,.5); */
}

.format {
    opacity: 0.7;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: -65px;
    display: flex;
    justify-content: center;
    background-color: black;
}

#homepage {
    background-color: black;
    z-index: 100;
    top: 0;
}

/*--------------- H    O   M   E       p   a   g   e --------------*/

.home-header{
    /* height: auto; */
    box-sizing: border-box ;
    height: 100%;
}

.table{
    font-family: "SFUIText", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}


.home-header img{
    background-size: fixed;
    z-index: -100;
    opacity: 0.5;
    margin: 0 auto;
    width: 100%;
    opacity: 0.5;
}

h1{
    color: var(--mauchu);
    font-size: 0.7em;
    letter-spacing: .18em;
    line-height: 1em;
    padding: .5em;
    margin: 0;
}

.table p{
    color: var(--mauchu);
    font-size: .7em;
    letter-spacing: .18em;
    line-height: 1em;
    padding: 0.5em;
    margin: 0;
}

/* ---------------home body ------------------------- */
.home-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-body-content{
    display: flex;
    justify-content: center;
}

.home-body-1{
    position: relative;
}

.content-1a{
    margin: 0 auto;
    /* padding: 0.5em 1em; */
    box-sizing: border-box;

}


.home-body-2{
    background-color: var(--xanhmint);
}

.content-2a{
    margin: 0 auto;
    padding: 0.5em 1em;
}




/*------------------Footer-------------------------*/

#footer {
    /* height: 100px; */
    color: whitesmoke;
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#footer .row li {
    list-style-type: none;
}

.footer-container {
    width: 50rem;
}

#footer .footer-container .col-lg-2 i {
    margin-right: 15px;
    font-size: 30px;
}

#footer .footer-container .col-lg-2 a {
    color: white;
}

#footer .footer-container .col-lg-2 a:hover {
    text-decoration: none;
    color: rgb(10, 213, 82)
}

#footer .footer-container .col-lg-4 {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
}

#footer .footer-container .col-lg-4 i:hover {
    font-size: 40px;
    transition: all 0.8s;
}

#footer .footer-container .col-lg-2 .footer-logo img {
    width: 50px;
    height: 50px;
}

#footer .footer-container .col-lg-2 .footer-logo {
    margin-right: 50px;
    position: absolute;
    top: -20px;
    right: 0px;
}

#footer .footer-container .col-lg-4 .footer-icon {
    /* position: absolute; */
    top: -12px;
    left: 0px;
}

#footer .footer-container .col-lg-4 .footer-icon i {
    margin-right: 10px;
}