<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./indexMedia.css">
    <link rel="icon" href="../img/logo1.png">
    <script src="https://use.fontawesome.com/9c1d99325f.js"></script>
    <script src="./index.js"></script>
    <title>Grenny</title>
</head>
<body>
      <!------------------- Navbar ------------------>
    <div id="homepage">
        <header>
            <div class="format" id="navbar">
                <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                    <a class="navbar-brand" href="../Greeny-Homepage/index.html" style="font-size: 35px; color: rgb(10, 213, 82);">
                        <img height="10px" width="10px" src="../Greeny-Mainpage/img/logo1.png" alt=""> Grenny
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="../Greeny-Homepage/index.html"><i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../Greeny-Premium/download.html">Downloads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Greeny-Premium/premium.html">Premium</a>
                            </li>
                            <li> <a class="nav-link" href="../Greeny-MusicList/musiclist.html">Music List</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Greeny-Help/helpPage.html">Helps</a>
                            </li>

                            <li class="nav-item">
                                <p class="nav-link1">|</p>
                                <!-- <a class="nav-link disabled" href="#" aria-disabled="true" style="color: white;">|</a> -->
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../Greeny-Login/Login.html">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Greeny-Register/Register.html">Sign up</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>

    <!---------------quotes ------------------- -->
    <div class="home-header" style="width: 100%;">
        <img src="../img/background.jpg" alt="" style="width: 100%;">   
        <div class="table">
            <h1>ÂM NHẠC CHO MỌI NGƯỜI.</h1>
            <p>Hàng triệu bài hát.</p>
        </div>
    </div>
    
    <div class="home-body" >
        <div class="home-body-content" style="background-color: rgb(0, 177, 79) ; ;" >
            <div class="home-body-1" style="width: 90rem;" >
                <div class="content-1a">
                    <h3>NHỮNG BÀI NHẠC HIT</h3>
                    <p>Tận hưởng những giai điệu du dương, những ca khúc hot nhất BXH.</p>
                    <a href="../Greeny-Mainpage/mainpage.html">Nghe nhạc</a>
                </div>
            </div>
        </div>
        <div class="home-body-content" style="background-color: rgba(241, 240, 240, 0.925);" >
            <div class="home-body-1" style="width: 90rem;" >
                <div class="content-2a">
                    <h2>Dịch vụ</h2>
                    <div class="content-2b">
                        <div class="icon">
                            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                              </svg>
                              <p>Hỗ trợ trợ tiếp qua feedback</p>
                        </div>
                        <div class="icon">
                            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                            </svg>
                            <p>Thảo luận tán gẫu với "gia đình Grenny".</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-body-content" style="background-color: rgb(249, 177, 68)">
            <div class="home-body-2" style="width: 90rem;">
                <div class="content-3a">
                    <h3>Premium</h3>
                    <p>Sở hữu những quyền lợi riêng đặc biệt.</p>
                </div>
                <div class="content-3b">
                    <img src="../img/logo1.png" alt="" style="width: 8em; height: 8em;">
                </div>
            </div>
        </div>
    </div>

    <div class="home-body-content" style="background-color: rgb(0, 177, 79) ;" >
        <div class="home-body-1" style="width: 90rem;" >
            <div class="content-1a">
                <h3>ỨNG DỤNG GRENNY</h3>
                <p>Thỏa sức nghe nhạc mọi lúc mọi nơi, trên mọi thiết bị.</p>
                <a href="../Greeny-Premium/download.html">Tải Grenny Free</a>
            </div>
        </div>
    </div>
    






     <!------------------------ Footer------------------------------------>
     <div id="footer">
        <div class="footer-container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="footer-logo">
                        <a class="navbar-brand" href="#" style="font-size: 35px; color: rgb(10, 213, 82);">
                            <img height="5px" width="10px" src="../Greeny-Mainpage/img/logo1.png" alt=""> Grenny
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h6> <a href="">Company</a></h6>
                    <ul style="padding: 0;">
                        <li>Giới thiệu</li>
                        <li>Việc làm</li>
                        <li>For the Record</li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h6><a href="">Community</a></h6>
                    <ul style="padding: 0;">
                        <li>Dành cho các Nghệ sĩ</li>
                        <li>Nhà phát triển</li>
                        <li>Nhãn hiệu</li>
                        <li>Nhà đầu tư</li>
                        <li>Nhà cung cấp</li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h6> <a href="">Contact Us </a> </h6>
                    <ul style="padding: 0;">
                        <li>Trợ giúp </li>
                        <li>Ứng dụng Di động</li>
                        <li>Trình phát Web</li>
                    </ul>

                </div>
                <div class="col-lg-4">
                    <div class="footer-icon">
                        <span><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
                        <span><i class="fa fa-google-plus-official" aria-hidden="true"></i></span>
                        <span><i class="fa fa-twitter-square" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>
</html>