<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <p>
            Đăng ký miễn phí để bắt đầu nghe.
        </p>
    </div>
    <form action="">
        <div>
            <p>Email Của bạn là gì ?</p>
            <div><input type="email" name="email" placeholder="Địa chỉ email/Tài khoản người dùng"></div>
        </div>
        <div>
            <p>Tên Đăng Nhập</p>
            <div><input type="name" name="name" placeholder="Tên Đăng Nhập"></div>
        </div>
        <div>
            <p>Mật Khẩu</p>
            <div><input type="password" name="password" placeholder="Mật Khẩu"></div>
        </div>
        <div>
            <p>Nhập lại mật khẩu</p>
            <div><input type="password" name="password" placeholder="Nhập lại mật khẩu"></div>
        </div>
        <div><input type="checkbox" id="remember-me" name="name" value="Tôi đồng ý với Điều khoản và điều kiện sử dụng của Grenny">
            <label for="remember-me">Tôi đồng ý với Điều khoản và điều kiện sử dụng của Grenny</label><br></div>
        <div>
    </form>
    <form action="">
        <div><button class="" type="submit">Đăng Ký Ngay</button></div>
    </form>
</body>

</html>