:root {
    --xamnhat: rgb(0, 0, 0, 0.7)
}


/* BUTTON */

.btn {
    border: 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.btn:hover {
    opacity: 0.8;
    box-shadow: 1.5px 1.5px rgb(0, 0, 0, 0.5)
}

.btn1 {
    background-color: rgb(29, 185, 84, 0.85);
    width: 23rem;
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.btn2 {
    width: 8rem;
    height: 3rem;
    background-color: rgb(29, 185, 84, 0.85);
    font-size: .9rem;
    font-weight: 700;
}

.input-container {
    width: 23rem;
    height: 3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    outline: none;
}


/* Input */

.input {
    width: 100%;
    height: 100%;
    padding-left: 1.3rem;
    color: var(--xamnhat);
    font-size: 1rem;
    outline: none;
    border-color: var(--xamnhat);
    font-weight: 550;
}

.input1 {
    border-radius: 30px;
}

.input2 {
    border-radius: 1px;
}

.input-container :focus {
    outline: none;
    border: 2px solid var(--xamnhat);
    box-shadow: 2px 2px var(--xamnhat);
    color: var(--xamnhat);
}