body {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

h1 {
    margin-bottom: 8px;
    font-size: 50px;
}

a {
    color: #1db954;
    margin: auto;
    padding: 0 15px;
}

h5 {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    display: inline;
}

.wrap {
    -webkit-box-flex: 1;
    flex: 1;
}

.headerr {
    margin: auto;
}

.header {
    margin: 0 auto;
    padding: 0 15px;
    text-align: justify;
    display: flex;
    background-color: #000;
}

.form-control {
    font-weight: 700;
    font-size: 28px;
    line-height: 16px;
    color: #000;
}

.content-main {
    padding: 60px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.form-control-input {
    width: 50%;
    height: 20px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dadc;
    border-radius: 0;
}

.boxContent {
    margin: auto;
    max-width: 50em;
}

.submit {
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}

.submition {
    font-size: 30px;
    line-height: 1;
    color: #fff;
    background-color: #1db954;
    font-size: 20px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    outline: none;
}

.submition:hover {
    opacity: 0.5;
}

.container-footer {
    width: 1170px;
}

.footer {
    padding: 80px 0 50px;
}

.footer-default {
    background: #000;
}

.small {
    color: #919496;
    display: inline-block;
    margin-left: -60%;
    white-space: nowrap;
}