<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên Mật Khẩu</title>
    <link rel="stylesheet" href="./passwordsstyle.css">
    <link rel="icon" href="../img/logo1.png">
</head>

<body>
    <div class="headerr">
        <div class="header">
            <a href="../Greeny-Login/Login.html">
                <img class="logo" src="../img/nentrang.png" alt="logo" width="20%" />
            </a>
        </div>
    </div>
    <div class="content-main">
        <div class="container">
            <div class="boxContent">
                <div>
                    <h1>
                        <b> Cài đặt lại Mật Khẩu</b>
                    </h1>
                </div>
                <div>
                    <p>
                        Nhập <b>tên người dùng Grenny</b>, hoặc <b> địa chỉ email</b> bạn đã dùng để đăng ký. Chúng tôi sẽ gửi email cho bạn với tên người dùng của bạn và một liên kết để đặt lại mật khẩu của bạn.
                    </p>
                </div>

                <div>
                    <div class="form-control ">
                        <p style="font-size: 20px; "> Địa chỉ email người dùng
                        </p>
                    </div>
                    <div>
                        <input id="name " class="form-control-input " type="email " name="email ">
                    </div>

                    <div class="submit ">
                        <button class="submit submition " type="submit ">Gửi</button>
                    </div>
                    <p>
                        Nếu bạn vẫn cần trợ giúp, hãy liên hệ
                        <a> Bộ phận hỗ trợ của Grenny.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer-default" role="contentinfo">
        <div class="container">
            <div class="">
                <div>
                    <ul class="small">
                        <li1>Pháp Lý </li1>
                        <li1>Cookies</li1>
                        <li1>Giới thiệu Quảng cáo</li1>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>