<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
</head>

<body>
    <!-- Head -->
    <div>
        <div>
            <h1>Nhấp vào để cài đặt.</h1>
            <p>Nếu quá trình tải xuống không bắt đầu, hãy thử lại. Bạn gặp sự cố? Truy cập vào Microsoft Store để tải xuống.</p>
        </div>
        <div>
            <!-- hình -->
        </div>
    </div>
    <!-- Head -->
    <!-- Body-->
    <div>
        <h2>Phủ sóng âm nhạc trên cả thiết bị di động và máy tính bảng.</h2>
        <p>
            Nghe nhạc trên điện thoại hay máy tính bảng hoàn toàn miễn phí, dễ dàng và thú vị.
        </p>
        <div>
            <div><img src="" alt=""></div>
            <div><img src="" alt=""></div>
            <div><img src="" alt=""></div>
        </div>
    </div>
    <!-- Body -->
    <!-- Foot -->
    <div>
        <div><img src="" alt=""></div>
        <h2></h2>
        <ul>
            <li>THIẾT BỊ DI ĐỘNG</li>
            <li>MÁY TÍNH</li>
            <li>MÁY TÍNH BẢNG</li>
            <li>PLAYSTATION®</li>
            <li>XBOX</li>
            <li>Ô TÔ</li>
            <li>TIVI</li>
            <li>TRÌNH PHÁT TRÊN WEB</li>
        </ul>
    </div>
    <!-- Foot -->
</body>

</html>