<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/9c1d99325f.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./style-test.css">
    <link rel="stylesheet" href="./header-footer.css">
    <title>Premium</title>
</head>

<body>
    <div class="wrap">
        <div class="contain">
            <div class="paging">
                <div class="premium-header ">
                    <div>
                        <span>GRENNY</span>
                        <img src="./pre-img/logo.png" alt="abc" width="100px " height="100px " />
                        <span>PREMIUM</span>
                    </div>
                    <div>
                    </div>
                    <div>
                        <p>Trải nghiệm âm nhạc đăng cấp mà không bị giới hạn</p>
                    </div>
                    <div>
                        <h2>Chọn gói bạn muốn</h2>
                    </div>
                </div>
                <!-- Heading -->
                <!-- Body -->
                <div class="premium-body ">
                    <div class="premium-package ">
                        <div class="package ">
                            <div class="pack pack1 ">
                            </div>
                            <div class="package-head ">6 tháng</div>
                            <div class="package-price ">
                                <div class="price-head ">299</div>
                                <div class="price-foot ">
                                    <span class="zeronum ">.OOO</span>
                                    <span class="currency ">VNĐ</span>
                                </div>
                            </div>
                            <div class="premium-btn ">
                                <a class="btnn btn1 ">
                            Đăng ký PREMIUM
                    </a>
                            </div>
                        </div>
                        <div class="package ">
                            <div class="pack pack2 ">
                            </div>
                            <div class="package-head ">1 năm</div>
                            <div class="package-price ">
                                <div class="price-head ">499</div>
                                <div class="price-foot ">
                                    <span class="zeronum ">.OOO</span>
                                    <span class="currency ">VNĐ</span>
                                </div>
                            </div>
                            <div class="premium-btn ">
                                <a class="btnn btn1 ">
                            Đăng ký PREMIUM
                    </a>
                            </div>
                        </div>
                        <div class="package ">
                            <div class="pack pack3 ">
                            </div>
                            <div class="package-head ">2 năm</div>
                            <div class="package-price ">
                                <div class="price-head ">899</div>
                                <div class="price-foot ">
                                    <span class="zeronum ">.OOO</span>
                                    <span class="currency ">VNĐ</span>
                                </div>
                            </div>
                            <div class="premium-btn ">
                                <a class="btnn btn1 ">Đăng ký PREMIUM
                        </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contain body-container">
            <div class="paging">
                <!-- <div style="margin-top:20px"> -->
                <h2>Grenny Premium là gì?</h2>
                <p>Grenny Premium là dịch vụ nghe nhạc Online chất lượng cao, kết hợp cùng các tiện ích dành riêng cho thành viên Premium</p>
                <ul class="reason-list">
                    <li>
                        <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_block.png" alt=" ">
                        <h6>KHÔNG QUẢNG CÁO</h6>
                        <p>Tận hưởng không gian âm nhạc mà không bị quảng cáo làm phiền</p>
                    </li>
                    <li>
                        <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_music.png" alt=" ">
                        <h6>NHẠC CHẤT LƯỢNG CAO</h6>
                        <p>Kho nhạc phong phú, chất lượng cao với nhiều thể loại trong và ngoài nước</p>
                    </li>
                    <li>
                        <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_download.png " alt=" ">
                        <h6>TẢI VÀ ĐỒNG BỘ NHẠC KHÔNG GIỚI HẠN</h6>
                        <p>Dung lượng lưu trữ nhạc trên Cloud không giới hạn.</p>
                    </li>
                    <li>
                        <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_video.png" alt=" ">
                        <h6>SỬ DỤNG TRÊN NHIỀU THIẾT BỊ</h6>
                        <p>Có thể truy cập kho nhạc trên điện thoại, laptop, tivi</p>
                    </li>
                </ul>
                <!-- </div> -->
                <!-- Lý do -->
                <!-- Lợi ích -->
                <div class="premium-footer">
                    <h2 style="padding-bottom: 30px;">Nghe nhạc chất lượng cao</h2>
                    <div style="display: flex;">
                        <div class="end title">
                            <div>
                                <h3>Chất lượng</h3>
                                <p>Bài hát có chất lượng lossless sẽ giúp bạn có trải nghiệm nghe nhạc trong thính phòng tại nhà.</p>
                            </div>
                            <div>
                                <h4>Nội dung</h4>
                                <p>Liên tục cập nhật các album và bài hát mới nhất trên thị trường âm nhạc trong và ngoài nước.
                                </p>
                            </div>
                            <div>
                                <h5>Upload</h5>
                                <p>Thoả thích upload nhạc không giới hạn mà bạn yêu thích lên Zing MP3.
                                </p>
                            </div>
                        </div>
                        <div class="end pic">
                            <img src="./pre-img/photo-1505740420928-5e560c06d30e.jpg " alt=" " width="400px" height="400px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav bar -->
    <div id="homepage">
        <header>
            <div class="format">
                <nav class="navbar navbar-expand-lg navbar-light bg-dark">


                    <a class="navbar-brand" href="../Greeny-Homepage/index.html" style="font-size: 35px; color: rgb(10, 213, 82);">
                        <img height="10px" width="10px" src="./pre-img/logo1.png" alt=""> Grenny
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="../Greeny-Homepage/index.html"><i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../Greeny-Premium/download.html">Download</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Greeny-Premium/premium.html">Premium</a>
                            </li>
                            <li> <a class="nav-link" href="../Greeny-MusicList/musiclist.html">Music List</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Greeny-Help/helpPage.html">Helps</a>
                            </li>

                            <li class="nav-item">
                                <p class="nav-link1">|</p>
                                <!-- <a class="nav-link disabled" href="#" aria-disabled="true" style="color: white;">|</a> -->
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../Greeny-Login/Login.html">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Greeny-Register/Register.html">Sign up</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <!-- Nav bar -->



    <div id="footer">
        <div class="footer-container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="footer-logo">
                        <a class="navbar-brand" href="#" style="font-size: 35px; color: rgb(10, 213, 82);font-weight: 700;">
                            <img height="5px" width="10px" src="./pre-img/logo1.png" alt=""> Grenny
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h6>Company</h6>
                    <ul style="padding: 0;">
                        <li>Giới thiệu</li>
                        <li>Việc làm</li>
                        <li>For the Record</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h6>Community</h6>
                    <ul style="padding: 0;">
                        <li>Dành cho các Nghệ sĩ</li>
                        <li>Nhà phát triển</li>
                        <li>Nhãn hiệu</li>
                        <li>Nhà đầu tư</li>
                        <li>Nhà cung cấp</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h6>Contact Us</h6>
                    <ul style="padding: 0;">
                        <li>Trợ giúp </li>
                        <li>Ứng dụng Di động</li>
                        <li>Trình phát Web</li>
                    </ul>

                </div>
                <div class="col-lg-1">
                    <div class="footer-icon">
                        <span><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
                        <span><i class="fa fa-google-plus-official" aria-hidden="true"></i></span>
                        <span><i class="fa fa-twitter-square" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>




    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>