<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium</title>
    <link rel="stylesheet" href="../style/style-test.css">
</head>

<body>
    <!-- Premium body -->
    <!-- Heading -->
    <div class="">
        <span>
            <img src="https://img.lovepik.com/element_origin_pic/17/07/03/320343c04a8217633a16778b6485eeaa.png_wh860.png" alt="" >
        </span>
        <div>
            Greeny Premium
        </div>
        <div>
            Trải nghiệm âm nhạc đăng cấp mà không bị giới hạn
        </div>
    </div>
    <!-- Heading -->
    <!-- Body -->
    <div class="">
        <div>
            <div>6 tháng</div>
            <div>
                <div>299</div>
                <div>
                    <div>.000</div>
                    <div>VND</div>
                </div>
            </div>
            <a class="btn btn1">
                <!--Đây là nút bấm -->vasdasdasdashjasjdsa
            </a>
        </div>
        <div>
            <div>1 năm</div>
            <div>
                <div>499</div>
                <div>
                    <div>.000</div>
                    <div>VND</div>
                </div>
            </div>
            <a class="btn btn2" href="https://zingmp3.vn/vip#utm_source=desktop&utm_medium=topnav-link&utm_campaign=VIP">
                MuaVIP
                <!--Đây là nút bấm -->
            </a>
        </div>
        <div>
            <div>2 năm</div>
            <div>
                <div>899</div>
                <div>
                    <div>.000</div>
                    <div>VND</div>
                </div>
            </div>
            <a class="btn">
                <!--Đây là nút bấm -->
            </a>
        </div>
    </div>
    <!-- Body -->
    <!-- Foot -->
    <div class="">
        <!-- Lý do -->
        <div>
            <h2>Greeny Premium là gì?</h2>
            <p>Greeny Premium là dịch vụ nghe nhạc Online chất lượng cao, kết hợp cùng các tiện ích dành riêng cho thành viên Premium</p>
            <ul>
                <li>
                    <img src="https://img.lovepik.com/element_origin_pic/17/07/03/320343c04a8217633a16778b6485eeaa.png_wh860.png" alt="">
                    <h3>KHÔNG QUẢNG CÁO</h3>
                    <p>Tận hưởng không gian âm nhạc mà không bị quảng cáo làm phiền</p>
                </li>
                <li>
                    <img src="https://img.lovepik.com/element_origin_pic/17/07/03/320343c04a8217633a16778b6485eeaa.png_wh860.png" alt="">
                    <h3>NHẠC CHẤT LƯỢNG CAO</h3>
                    <p>Kho nhạc phong phú, chất lượng cao với nhiều thể loại trong và ngoài nước</p>
                </li>
                <li>
                    <img src="https://img.lovepik.com/element_origin_pic/17/07/03/320343c04a8217633a16778b6485eeaa.png_wh860.png" alt="">
                    <h3>TẢI VÀ ĐỒNG BỘ NHẠC KHÔNG GIỚI HẠN</h3>
                    <p>Dung lượng lưu trữ nhạc trên Cloud không giới hạn.</p>
                </li>
                <li>
                    <img src="https://img.lovepik.com/element_origin_pic/17/07/03/320343c04a8217633a16778b6485eeaa.png_wh860.png" alt="">
                    <h3>SỬ DỤNG TRÊN NHIỀU THIẾT BỊ</h3>
                    <p>Có thể truy cập kho nhạc trên điện thoại, laptop, tivi</p>
                </li>
            </ul>
        </div>
        <!-- Lý do -->
        <!-- Lợi ích -->
        <div>
            <h2>Nghe nhạc chất lượng cao</h2>
            <div>
                <div>
                    <h2>Chất lượng</h2>
                    <p>Bài hát có chất lượng lossless sẽ giúp bạn có trải nghiệm nghe nhạc trong thính phòng tại nhà.</p>
                </div>
                <div>
                    <h2>Nội dung</h2>
                    <p>Liên tục cập nhật các album và bài hát mới nhất trên thị trường âm nhạc trong và ngoài nước.
                    </p>
                </div>
                <div>
                    <h2>Upload</h2>
                    <p>Thoả thích upload nhạc không giới hạn mà bạn yêu thích lên Zing MP3.
                    </p>
                </div>
            </div>
            <div>
                <!-- hình trang trí -->
            </div>
        </div>
        <!-- Lợi ích -->
        <div class="input-container">
            <input class="input input1" type="text " placeholder="Tài khoản ">
        </div>
        <br>
        <br>
        <br>
        <div class="input-container">
            <input class="input input2" type=" password " placeholder="mật khẩu ">
        </div>
        <!-- Foot -->
        <!-- Premium body -->
</body>

</html>