body {
    width: 100%;
    margin: 0 auto;
}

.bg-dark {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    width: 100rem;
    padding: initial;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
   color: white !important;
}

.format {
    /* width: 1000px; */
    display: flex;
    justify-content: center;
}

#homepage {
    background-color: #343a40;
}