body {
        font-weight: 400;
        font-size: 16px;
        background-color: white;
        line-height: 1.5;
        font-family: 'Work Sans', sans-serif;
        text-align: center;
}


/* .login */
.signUp h2{
    background-color: white;
    color: #222326;
    min-width: 320px;
    position: relative;
    margin-bottom: 1em;
}

.signUpHeader {
    background-color:white;
    padding: 1em 0 1em 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    /* padding: 0 15px 15px 15px; */

    padding-left: 15px;
    padding-right: 15px;
}

.boxContent {
    margin: auto;
    max-width: 26.875em;
}

.logo{
    background: url(/images/download.svg) transparent no-repeat center center;
    background-size: contain;
    display:block;
    margin: auto;
    width: 197px
}

/* .body */
.signUpBody {
    background-color: white;
    border-top: 1px solid #dfe0e6; /*vien*/
    border-bottom: 1px solid #dfe0e6;;
}

a{
    color: #1db954;
}


.login{
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}


.logindangnhap{
    font-size: 30px;
    line-height: 1;
    color: #fff;
    background-color: #1db954;
    font-size: 20px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}



.login :hover{
    opacity: 0.8;
}

strong {
    font-weight: 500;
    text-align: center;
}

.checkbox{
    
    padding-left: 0.5em;
    font-weight: 400;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dadc;
    border-radius: 0;
    margin: 5px ;
}

.content {
    border-top: none;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    padding: 1em;
}

.line {
    display: block;
    z-index: 1;
    position: relative;
    width: 100%;
    color: black;
}

.line:before {
    width: 40px;
    height: 10px;
    background-color: white;
    margin-top: -5px;
    margin-left: -20px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    content: '';
}

.line:after {
    border-bottom: 1px solid #a4a5ac;
    display: block;
    position: absolute;
    top: 49%;
    width: 100%;
    z-index: -2;
    content: '';
}

/* button  */
.button {
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}

.button:hover{
    opacity: 0.8;
    box-shadow: 3px 3px #999;
}

.buttonFacebook {
    color: white;
    background-color: #3B5998;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px 48px;
    width: 100%;
    display: block;
    border: 1px solid transparent;
    white-space: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.buttonApple {
    color: white;
    background-color: #000000;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px 48px;
    width: 100%;
    display: block;
    border: 1px solid transparent;
    white-space: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.buttonGoogle {
    color: white;
    background-color: #fa0707;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px 48px;
    width: 100%;
    display: block;
    border: 1px solid transparent;
    white-space: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    outline: none;
}

