<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginstyle.css">
    <title>Login</title>
</head>

<body>
    <div class="content">
        <h2>
            Đăng Nhập
        </h2>
    </div>
    <form method="">
        <div><input class="form-control" type="email" name="email" placeholder="Địa chỉ email/Tài khoản người dùng"></div>
        <div><input class="form-control" type="password" name="passwords" placeholder="Mật Khẩu"></div>
        <div><input type="checkbox" id="remember-me" name="Nhớ mật Khẩu" value="Nhớ mật khẩu">
            <label class="checkbox" for="remember-me"> Nhớ mật khẩu</label><br></div>
        <div>
            <a class="" href="">
                <i class="" aria-hidden="true"></i>Quên Mật Khẩu Của Bạn ?</a>
        </div>
        <div class="">
            <button class="login" type="submit">Đăng Nhập</button>
        </div>
        <div>
            <strong class="line">Hoặc</strong>
        </div>

    </form>

    <form name="">
        <div class=" "><button class="">Đăng Nhập Với Facebook</button></div>
        <div class=" "><button class="">Đăng Nhập Với Apple</button></div>
        <div class=" "><button class="">Đăng Nhập Với Google</button></div>
    </form>

    <form name="register">
        <strong class="line">
            <button class="">Đăng Ký</button>
        </strong>
    </form>


</body>

</html>